/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
  }
  
  /* Styling for the main container */
  div {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  h1, h2 {
    color: #333;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 15px;
    margin: 20px 0;
  }
  
  /* Input component styling */
  input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Makes sure padding does not affect the overall width */
  }
  
  input[type="submit"], button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  input[type="submit"]:hover, button:hover {
    background-color: #45a049;
  }
  
  /* Adding some margin between components for better spacing */
  .ListGroup, .InputComponent, .FileUploadComponent {
    margin-bottom: 20px;
  }
  